<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeatureExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FeatureExtractor.Properties.Settings>
            <setting name="TweetsFilesDirectoryPath" serializeAs="String">
                <value>D:\Research\Data\Tweets</value>
            </setting>
            <setting name="TableTextFeatures" serializeAs="String">
                <value>textFeaturesSingapore</value>
            </setting>
            <setting name="ImagesFilesDirectoryPath" serializeAs="String">
                <value>D:\Research\VisualData\pics1</value>
            </setting>
            <setting name="TableConceptFeatures" serializeAs="String">
                <value>conceptFeaturesSingapore</value>
            </setting>
            <setting name="CategoriesFilesDirectoryPath" serializeAs="String">
                <value>D:\Research\Data\Categories</value>
            </setting>
            <setting name="TableCategoryFeatures" serializeAs="String">
                <value>categoryFeaturesSingapore</value>
            </setting>
            <setting name="TableObesityGroundTruth" serializeAs="String">
                <value>obesityGroundTruth</value>
            </setting>
        </FeatureExtractor.Properties.Settings>
    </userSettings>
</configuration>